name: goobcontrol

services:
  postgres:
    image: postgres:18-alpine
    volumes:
      - goob_database:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: ${GOOB_POSTGRES_PASSWORD:?Set a password for postgres with GOOB_POSTGRES_PASSWORD}
      POSTGRES_USER: ${GOOB_POSTGRES_USER:-goobcontrol}
      POSTGRES_DB: ${GOOB_POSTGRES_DB:-goobcontrol}
      POSTGRES_INSECURE: ${GOOB_POSTGRES_INSECURE:-true}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
  goobcontrol:
    image: ghcr.io/gooberspace/goobcontrol:${GOOB_IMAGE_TAG:-latest}
    environment:
      GOOB_DATABASE_USER: ${GOOB_POSTGRES_USER:-goobcontrol}
      GOOB_DATABASE_HOST: ${GOOB_POSTGRES_HOST:-postgres:5432}
      GOOB_DATABASE_DATABASE: ${GOOB_POSTGRES_USER:-goobcontrol}
      GOOB_DATABASE_PASSWORD: ${GOOB_POSTGRES_PASSWORD:?Set a password for postgres with GOOB_POSTGRES_PASSWORD}
      GOOB_DISCORD_TOKEN: ${GOOB_DISCORD_TOKEN:?Set your discord token with GOOB_DISCORD_TOKEN}
      GOOB_BOT_PRIVATEGUILDS: ${GOOB_BOT_PRIVATEGUILDS}
      GOOB_BOT_DEBUG: ${GOOB_BOT_DEBUG}
      # Default Postgres container comes with TLS disabled, therefore we default to true in the docker compose
      GOOB_DATABASE_INSECURE: ${GOOB_DATABASE_INSECURE:-true}
    depends_on:
      postgres:
        condition: service_healthy
    links:
      - postgres

volumes:
  goob_database:
  