name: goobcontrol

services:
  goobcontrol:
    image: ghcr.io/gooberspace/goobcontrol:${GOOB_IMAGE_TAG:-latest}
    environment:
      GOOB_POSTGRES_DSN: ${GOOB_POSTGRES_DSN:?Set the Postgres DSN with GOOB_POSTGRES_DSN}
      GOOB_DISCORD_TOKEN: ${GOOB_DISCORD_TOKEN:?Set your discord token with GOOB_DISCORD_TOKEN}
      GOOB_BOT_PRIVATEGUILDS: ${GOOB_BOT_PRIVATEGUILDS}
      GOOB_BOT_DEBUG: ${GOOB_BOT_DEBUG}
  postgres:
    image: postgres:18-alpine
    environment:
      POSTGRES_PASSWORD: ${GOOB_POSTGRES_PASSWORD:?Set a password for postgres with GOOB_POSTGRES_PASSWORD}
      POSTGRES_USER: ${GOOB_POSTGRES_USER:-goobcontrol}
      POSTGRES_DB: ${GOOB_POSTGRES_DB:-goobcontrol}