name: Build container for development versions

on:
    push:
      branches:
        '*'

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
    build_and_push_docker:
            name: "Build and push docker image"
            runs-on: ubuntu-latest
            permissions:
                contents: read
                packages: write
                attestations: write
                id-token: write
                artifact-metadata: write
            steps:
                - name: Checkout Repo
                  uses: actions/checkout@v6

                - name: Connect container registry
                  uses: docker/login-action@v3
                  with:
                    registry: ${{env.REGISTRY}}
                    username: ${{ github.actor }}
                    password: ${{ secrets.GITHUB_TOKEN }}

                - name: Get Metadata for Docker
                  id: metadata
                  uses: docker/metadata-action@v5
                  with:
                    images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
                    tags: |
                      type=ref,event=branch
                      type=sha

                - name: Build and push Docker image
                  id: push
                  uses: docker/build-push-action@v6
                  with:
                    context: .
                    push: true
                    labels: ${{ steps.metadata.outputs.labels }}
                    tags: ${{ steps.metadata.outputs.tags }}
                    cache-from: type=registry,ref=${{ env.IMAGE_NAME }}:devbuildcache
                    cache-to: type=registry,ref=${{ env.IMAGE_NAME }}:devbuildcache,mode=max
