name: Release on Tag

on:
    push:
        tags:
            - '*'

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
    build_and_release_binaries:
        name: "build and release binaries"
        runs-on: ubuntu-latest
        permissions:
            id-token: write
            contents: write
            attestations: write
        steps:
            - name: Checkout
              uses: actions/checkout@v4
              with:
                  fetch-depth: 0
                  fetch-tags: true
            - name: Setup Go Environment
              uses: actions/setup-go@v5
              with:
                go-version: '1.24.x'
            - name: Get dependencies
              run: make get-deps
            - name: Build Linux AMD64
              run: make build-linux-amd64
            - name: Build Linux ARM64
              run: make build-linux-arm64
            - name: Build Windows AMD64
              run: make build-windows-amd64
            - name: Generate artifact attestation
              uses: actions/attest-build-provenance@v3
              with:
                subject-path: 'bin/*'
            - name: Create release
              uses: ncipollo/release-action@v1
              with:
                artifacts: "bin/*"
                generateReleaseNotes: true
                allowUpdates: true
    build_and_push_docker:
            name: "Build and push docker image"
            runs-on: ubuntu-latest
            permissions:
                contents: read
                packages: write
                attestations: write
                id-token: write
            steps:
                - name: Checkout Repo
                  uses: actions/checkout@v6

                - name: Connect container registry
                  uses: docker/login-action@v3
                  with:
                    registry: ${{env.REGISTRY}}
                    username: ${{ github.actor }}
                    password: ${{ secrets.GITHUB_TOKEN }}

                - name: Get Metadata for Docker
                  id: metadata
                  uses: docker/metadata-action@v5
                  with:
                    images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

                - name: Build and push Docker image
                  id: push
                  uses: docker/build-push-action@f2a1d5e99d037542a71f64918e516c093c6f3fc4
                  with:
                    context: .
                    push: true
                    tags: ${{ steps.metadata.outputs.tags }}
                    labels: ${{ steps.metadata.outputs.labels }}

                - name: Generate artifact attestation
                  uses: actions/attest-build-provenance@v3
                  with:
                    subject-name: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME}}
                    subject-digest: ${{ steps.push.outputs.digest }}
                    push-to-registry: true

